{% extends "core/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block extra %}
    <link rel="stylesheet" href="{% static 'blogs/blogs.css' %}">
{% endblock %}

{% block title %} {{ object.title }} {% endblock %}

{% block trace %}
    <div>
        <a href="{% url 'core:home' %}">Главная</a>
        >>
        <a href="{% url 'blogs:blog_list' %}">Блоги</a>
        >>
        Блог: "{{ object.title }}"
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="text-center"><h2 class="Lobster">{{ object.title }} </h2></div>
    </div>
    <div>
        Категории:
        {% for categ in object.category.all %}
            {{ categ }}
        {% endfor %}
    </div>
    <div>
        Описание блога: {{ object.description }}. <br>
        Автор: {{ object.author }}
    </div>
    <div>
        <a href="{% url "blogs:post_list" blog_id=object.id %}">Список постов</a>
    </div>
{% endblock %}