{% extends "core/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block extra %}
    <link rel="stylesheet" href="{% static 'blogs/blogs.css' %}">
{% endblock %}

{% block title %}Список постов в блоге {% endblock %}

{% block trace %}
    <div>
        <a href="{% url 'core:home' %}">Главная</a>
        >>
        <a href="{% url 'blogs:blog_list' %}">Блоги</a>
        >>
        <a href="{% url 'blogs:blog' pk=blog.id %}">Блог: "{{ blog.title }}"</a>
        >>
        Посты
    </div>
{% endblock %}

{% block content %}
    <div>
        <form action="{% url "blogs:post_list" blog_id=blog.id %}" method="get">
            <div>Сортировать по: {{ sortfrom.sort}} </div>
            <div style="clear: left;"></div>
            <div>{{ sortfrom.search|add_class:"navbar-form navbar-left form-group  form-control"|attr:"placeholder:Search" }} </div>
            <div><button type="submit" class="btn btn-default">Submit</button></div>
        </form>
        <div style="clear: both"></div>
    </div>
    <div class="row">
        <h3 class="col-xs-2">Посты</h3>
        <a class="col-xs-offset-8 col-xs-2"href="{% url "blogs:add_post" blog_id=blog.id %}">Создание поста</a> <br>
        <br>
    </div>
    <div>
        {% for post in object_list %}
            <div class="row">
                <div class="panel panel-info col-xs-offset-1 col-xs-10 ">
                    <div class="panel-heading">
                        <button type="button" class="btn btn-default btn-lg ajaxlike" data-url="{% url "blogs:post_ajax_like" pk=post.id %}" data-postid="{{ post.id }}">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <span id="rate-{{ post.id }}">{{ post.rate }}</span>
                        </button>
                        <a href="{% url "blogs:post" pk=post.id %}">{{ post.title }}</a>
                            {% if user == post.author %}
                                <p class="text-right">
                                    <a href="{% url "blogs:update_post" post.id %}">Редактировать</a>
                                </p>
                            {% endif %}
                    </div>
                    <div class="panel-body">
                        {{ post.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
     </div>
{% endblock %}