{% extends "core/base.html" %}

{% block title %} {{  post.title }} {% endblock %}

{% block trace %}
    <div>
        <a href="{% url 'core:home' %}">Главная</a>
        >>
        <a href="{% url 'blogs:blog_list' %}">Блоги</a>
        >>
        <a href="{% url 'blogs:blog' pk=post.blog.id %}">Блог: "{{  post.blog.title }}"</a>
        >>
        <a href="{% url 'blogs:post_list' blog_id=post.blog.id %}">Посты</a>
        >>
        Пост: "{{ post.title }}"
    </div>
{% endblock %}

{% block content %}
    {% if user ==  post.author %}
        <a href="{% url "blogs:update_post"  post.id %}">Редактирование блога</a><br/>
    {% endif %}
    <div>Описание поста:</div>
    <div>{{  post.description }}</div>
    <div>Автор: {{  post.author }}</div> </br>
    {% if  post.comment_set.all %}
        <div>Комментарии:</div>
    {% endif %}
    {% for comment in  post.comment_set.all %}

        <b>({{ comment.author }}) <a href="{% url 'comments:comment' pk=comment.id %}">{{ comment.id }}</a>.  {{ comment.description }} </b> <br/>
    {% endfor %}
    <form action="{% url "blogs:post" post.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
{% endblock %}