{% extends "core/base.html" %}

{% load static %}

{% block title %}
    Главная страница сайта
{% endblock %}

{% block trace %}
    <div>
        Главная
    </div>
{% endblock %}


{% block content %}
    <div >
        <div class="col-xs-8 col-xs-offset-2"><h1 class="Lobster">Приветствую тебя на главной странице сайта </h1></div>
        <div style="clear: left;"></div>
        <p>Количество пользователей на сайте: {{ users.count }}</p>
        <p>Количество блогов на сайте: {{ blogs.count }}</p>
        <p>Количество постов на сайте: {{ posts.count }}</p>
        <p>Количество комментариев на сайте: {{ comments.count }}</p>
        <p>Если хочешь посмотреть интересные блоги, то  <a href="{% url "blogs:blog_list"  %}">ТЫЧЬ ПО ССЫЛКЕ</a></p>
    </div>
{% endblock %}